# fly.toml app configuration file generated for codeeditor on 2026-02-15T18:50:51+11:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'codeeditor'
primary_region = 'syd'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
